# ===== Unreal Engine =====
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Config/
Content/
Platforms/
Plugins/
SFX_Export/
Chess_WwiseProject/
Music/

# ===== Visual Studio =====
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vsconfig
*.uproject

# ===== Build artifacts =====
*.pdb
*.obj
*.log
